@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$color1 : white;
$color2 : rgba(255, 255, 255, 0);
$color3 : black;
$color4 : rgb(114, 114, 114);
$color5 : rgb(37, 37, 37);


body{
    align-items: center;
        justify-content: center;
   position: relative; 
   margin: 0;
   padding: 0;
   width: 100%;
  

    .home_dex{
        margin: 0;
        padding: 0;
        height: 90vh;
        width: 100%;
        position: relative;
      
        header{
            margin-top:0;
            width: 95%;
            clip-path: polygon(0 0, 79% 0, 95% 100%, 0% 100%);
            margin-left: 5%;
            border-radius: 5px 0px 0px 5px;
            margin-bottom: 20px;
            height: 100px;
           
            h1{
                .logo{
                    font-size: 52px;
                    font-family: 'Righteous', cursive;
                    text-decoration: none;
                    float: left;
                }
            }

           .navlink{
                font-size: 35px;
                text-decoration: none;
                color: $color1;

                
            }

          
            a {
                background-image: linear-gradient(
                  to right,
                  $color1,
                  $color1 50%,
                  $color1 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                padding: 5px 0;
                position: relative;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
              }
              
              a:before{
                content: '';
                background: $color1;
                display: block;
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 0;
                height: 3px;
                transition: all 0.3s ease-in-out;
               
              }
              
              a:hover {
               background-position: 0;
              }
              
              a:hover::before{
                width: 100%;
              }
              
              
            
        }
        
        
        .entree_balk1{
            margin-top: 2.5%;
            width: 95%;
            height: 150px;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 26% 0, 35.5% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            }

        .entree_balk2{
            margin-top: 4%;
            width: 95%;
            height: 177.59px;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 40% 0, 51.5% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
           
            p{
                color: rgba(148, 163, 184);
            }
        }

        .entree_balk3{
            margin-top: 4%;
            width: 95%;
            margin-left: 5%;
            font-family: 'Righteous', cursive;
            clip-path: polygon(0 0, 56% 0, 65.5% 100%, 0% 100%);
            border-radius: 5px;
            float: left;
            margin-bottom: 1%;
            height: 144.09px;
            margin-bottom: 4%;
        }
       
        .home_img{
            margin-left:35.5%;
            width: 60%;
            height: 625px;
            margin-top: 2.5%;
            margin-bottom: 10%;
            position:absolute;
            float: right;
            clip-path: polygon(0% 0, 100% 0, 100% 100%, 62% 100%);
            border-radius: 0px 5px 5px 0px;
            background-image: url(../img/cffe.jpg );
            overflow: hidden;
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .aanmelding1{
            display:flex;
            background-color: rgba(0, 0, 0, 0.37);
            width: 80%;
            height: 560px;
            position: absolute;
            margin-left:10%; 
            margin-right: 10%; 
            margin-top: 4%;
            border-radius: 5px;
            padding-top: 5%;

        
           .uitleg1{
                    float: left;
                    width: 60%;
                    height: 100%;
                    
                    
                    h2{
                        
                        margin-left: 10%;
                        font-weight: 900; 
                    }

                    p{
                        margin-top: 5%;
                        margin-left: 10%;
                        margin-right: 10%;
                        font-weight: 500;
                    }
           }
          

          
           form{
            
           
            height: 100%;
            width: 150%;

                input{
                    float: left;
                    width: 100%;
                    border: solid 2px $color4;

                    
                }
                .leftin{
                    float: left;
                    width: 45%;
                }
                .rithin{
                    float: right;
                    width: 45%;
                    margin-bottom: 5%;
                }

            
                .butto{
                    border: solid 2px $color5;
                }
            }   
        }

       
    }
     
   


  

    .meerinfo{
        width: 100%;
        height: 170vh;
    
        .grid-container {
            display: grid;
            grid-template-columns: auto auto ;
            padding: 10px;
            height: 100%;
            column-gap: 0%;
            row-gap: 7%;
            
            #text-1{
                border: solid 4px $color3;
                border-top-style: solid;
                border-right-style: none;
                border-bottom-style: solid;
                border-left-style: solid; 
            }
        
            #text-2{
                border: solid 4px $color3;
                border-top-style: solid;
                border-right-style: solid;
                border-bottom-style: solid;
                border-left-style: none; 
            }

            .grid-item {
                border-radius: 5px 5px 5px 5px;
                background-color: $color2;
                padding: 10px;
                font-size: 30px;

                p{
                    padding:  5%;
                    padding-left: 10%;
                    padding-right: 10%;
                    font-size: 22px;
                    color: $color1;
                    text-align: start;
                }
            }

            .grid-item-img-1 {
                border-radius: 5px 5px 5px 5px;
                background-color: $color2;
                padding: 10px;
                font-size: 30px;
                height: 400px;
            
                p{
                    text-align: center;
                    .img-1{
                        margin-top: 3%;
                        margin-bottom: 3%;
                        height: 40vh;
                        border-radius: 10px;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center; 
                    }
                    .img-2{
                        margin-top: 3%;
                        margin-bottom: 3%;
                        height: 40vh;
                        border-radius: 10px;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center; 
                    }  

                    .img-3{
                        margin-bottom: 3%;
                        margin-top: 3%;
                        height: 40vh;
                        border-radius: 10px;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center; 
                    }    
                }
            }
        }
    }

  


    .containercontact{
        width: 100%;
        height: 100vh;
       

    

        .contactform{
            width: 80%;
            height: 90%;
            background-color: rgba(122, 122, 122, 0.452);
            margin-left: 10%;
            margin-right: 25%;
            margin-top: 5%;
            border-radius: 5px 5px 5px 5px;
            
          
                

                .uitleg{
                    float: left;
                    width: 50%;
                    height: 100%;
                    
                    h2{
                        margin-top: 10%;
                        margin-left: 10%;
                        font-weight: 900; 
                    }

                    p{
                        margin-top: 5%;
                        margin-left: 10%;
                        margin-right: 10%;
                        font-weight: 500;
                    }
                }
                
                form{
                    float: right;
                    margin-top: 2%;
                    margin-right: 12%;
                    width: 25%;

                    input{
                        float: left;
                        width: 100%;
                        border: solid 2px $color4;
                    }

                    textarea{
                        height: 100px;
                        float: left;
                        width: 100%;
                        border: solid 2px $color4;
                    }

                    .butto{
                        border: solid 2px $color5;
                    }
                }
        }
    }

    

    .wrapper{
        margin-top: 20%;
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider{
            width: 100%;
            height: 200px;
            position: relative;
            background-color:$color1;
            box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
            display: flex;
            overflow: hidden;

            .slide{
                height: 200px;
                display: flex;
                align-items: center;
                animation: slideshow 30s linear infinite;
               

                .slide img{
                    height: 300px;
                    padding: 0 30px 0 35px;
                   
                  
                }
                img{
                    margin-right: 10px;
                    margin-left: 10px;
                    border-radius: 25px;
                }
            }
        }
        @keyframes slideshow{
            0% {transform: translateX(0);}
            100% {transform: translateX(-100%);}
        }
        .slider::before, .slider::after{
            height: 100px;
            width: 200px;
            position: absolute;
            content: "";
            //background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
           
            z-index: 2;

            .slider::before{
                left: 0;
                top: 0;
            }
            .slider::after{
                right: 0;
                top: 0;
                transform: rotateZ(180deg);
            }

        }
    }
    

    footer{
        height: 400px;
        width: 100%;

        .listcontainer{
        
            height: 100%;
            width: 100%;
            display: flex;
            margin: auto;
            padding-left: 9%;
            

            .list1{
                text-align: left;
                height: 100%;
                width: 30%;
                border: solid 5px ; 
                border-left-style: solid; 
                border-right-style: solid;
                border-top-style: none;
                border-bottom-style: none;
                color: $color1;
            }

            .list2{
                text-align: left;
                height: 100%;
                width: 30%;
                color: $color1;
            
            }

            .list3{
                text-align: left;
                height: 100%;
                width: 30%;
                border: solid 5px ; 
                border-left-style: solid;
                border-right-style: solid;
                border-top-style: none;
                border-bottom-style: none;
                color: $color1;
            }
            
            ul{
                margin-top: 15%;
                list-style-type: none;  
            }
        }    
    }
}


