@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body {
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
body .home_dex {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100%;
  position: relative;
}
body .home_dex header {
  margin-top: 0;
  width: 95%;
  -webkit-clip-path: polygon(0 0, 79% 0, 95% 100%, 0% 100%);
          clip-path: polygon(0 0, 79% 0, 95% 100%, 0% 100%);
  margin-left: 5%;
  border-radius: 5px 0px 0px 5px;
  margin-bottom: 20px;
  height: 100px;
}
body .home_dex header h1 .logo {
  font-size: 52px;
  font-family: "Righteous", cursive;
  text-decoration: none;
  float: left;
}
body .home_dex header .navlink {
  font-size: 35px;
  text-decoration: none;
  color: #fff;
}
body .home_dex header a {
  background-image: linear-gradient(to right, white, #fff 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
body .home_dex header a:before {
  content: "";
  background: #fff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
body .home_dex header a:hover {
  background-position: 0;
}
body .home_dex header a:hover::before {
  width: 100%;
}
body .home_dex .entree_balk1 {
  margin-top: 2.5%;
  width: 95%;
  height: 150px;
  margin-left: 5%;
  font-family: "Righteous", cursive;
  -webkit-clip-path: polygon(0 0, 26% 0, 35.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 26% 0, 35.5% 100%, 0% 100%);
  border-radius: 5px;
  float: left;
}
body .home_dex .entree_balk2 {
  margin-top: 4%;
  width: 95%;
  height: 177.59px;
  margin-left: 5%;
  font-family: "Righteous", cursive;
  -webkit-clip-path: polygon(0 0, 40% 0, 51.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 40% 0, 51.5% 100%, 0% 100%);
  border-radius: 5px;
  float: left;
}
body .home_dex .entree_balk2 p {
  color: rgb(148, 163, 184);
}
body .home_dex .entree_balk3 {
  margin-top: 4%;
  width: 95%;
  margin-left: 5%;
  font-family: "Righteous", cursive;
  -webkit-clip-path: polygon(0 0, 56% 0, 65.5% 100%, 0% 100%);
          clip-path: polygon(0 0, 56% 0, 65.5% 100%, 0% 100%);
  border-radius: 5px;
  float: left;
  margin-bottom: 1%;
  height: 144.09px;
  margin-bottom: 4%;
}
body .home_dex .home_img {
  margin-left: 35.5%;
  width: 60%;
  height: 625px;
  margin-top: 2.5%;
  margin-bottom: 10%;
  position: absolute;
  float: right;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 62% 100%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 62% 100%);
  border-radius: 0px 5px 5px 0px;
  background-image: url(../img/cffe.jpg);
  overflow: hidden;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
body .home_dex .aanmelding1 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.37);
  width: 80%;
  height: 560px;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  border-radius: 5px;
  padding-top: 5%;
}
body .home_dex .aanmelding1 .uitleg1 {
  float: left;
  width: 60%;
  height: 100%;
}
body .home_dex .aanmelding1 .uitleg1 h2 {
  margin-left: 10%;
  font-weight: 900;
}
body .home_dex .aanmelding1 .uitleg1 p {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
}
body .home_dex .aanmelding1 form {
  height: 100%;
  width: 150%;
}
body .home_dex .aanmelding1 form input {
  float: left;
  width: 100%;
  border: solid 2px rgb(114, 114, 114);
}
body .home_dex .aanmelding1 form .leftin {
  float: left;
  width: 45%;
}
body .home_dex .aanmelding1 form .rithin {
  float: right;
  width: 45%;
  margin-bottom: 5%;
}
body .home_dex .aanmelding1 form .butto {
  border: solid 2px rgb(37, 37, 37);
}
body .meerinfo {
  width: 100%;
  height: 170vh;
}
body .meerinfo .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  height: 100%;
  -moz-column-gap: 0%;
       column-gap: 0%;
  row-gap: 7%;
}
body .meerinfo .grid-container #text-1 {
  border: solid 4px black;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: solid;
}
body .meerinfo .grid-container #text-2 {
  border: solid 4px black;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
}
body .meerinfo .grid-container .grid-item {
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-size: 30px;
}
body .meerinfo .grid-container .grid-item p {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 22px;
  color: white;
  text-align: start;
}
body .meerinfo .grid-container .grid-item-img-1 {
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  font-size: 30px;
  height: 400px;
}
body .meerinfo .grid-container .grid-item-img-1 p {
  text-align: center;
}
body .meerinfo .grid-container .grid-item-img-1 p .img-1 {
  margin-top: 3%;
  margin-bottom: 3%;
  height: 40vh;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body .meerinfo .grid-container .grid-item-img-1 p .img-2 {
  margin-top: 3%;
  margin-bottom: 3%;
  height: 40vh;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body .meerinfo .grid-container .grid-item-img-1 p .img-3 {
  margin-bottom: 3%;
  margin-top: 3%;
  height: 40vh;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
body .containercontact {
  width: 100%;
  height: 70vh;
}
body .containercontact .contactform {
  width: 80%;
  height: 90%;
  background-color: rgba(122, 122, 122, 0.452);
  margin-left: 10%;
  margin-right: 25%;
  margin-top: 5%;
  border-radius: 5px 5px 5px 5px;
}
body .containercontact .contactform .uitleg {
  float: left;
  width: 50%;
  height: 100%;
}
body .containercontact .contactform .uitleg h2 {
  margin-top: 10%;
  margin-left: 10%;
  font-weight: 900;
}
body .containercontact .contactform .uitleg p {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
}
body .containercontact .contactform form {
  float: right;
  margin-top: 2%;
  margin-right: 15%;
  width: 25%;
}
body .containercontact .contactform form input {
  float: left;
  width: 100%;
  border: solid 2px rgb(114, 114, 114);
}
body .containercontact .contactform form textarea {
  height: 100px;
  float: left;
  width: 100%;
  border: solid 2px rgb(114, 114, 114);
}
body .containercontact .contactform form .butto {
  border: solid 2px rgb(37, 37, 37);
}
body .wrapper {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrapper .slider {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: white;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}
body .wrapper .slider .slide {
  height: 200px;
  display: flex;
  align-items: center;
  animation: slideshow 30s linear infinite;
}
body .wrapper .slider .slide .slide img {
  height: 300px;
  padding: 0 30px 0 35px;
}
body .wrapper .slider .slide img {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 25px;
}
@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
body .wrapper .slider::before, body .wrapper .slider::after {
  height: 100px;
  width: 200px;
  position: absolute;
  content: "";
  z-index: 2;
}
body .wrapper .slider::before .slider::before, body .wrapper .slider::after .slider::before {
  left: 0;
  top: 0;
}
body .wrapper .slider::before .slider::after, body .wrapper .slider::after .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
body footer {
  height: 400px;
  width: 100%;
}
body footer .listcontainer {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  padding-left: 9%;
}
body footer .listcontainer .list1 {
  text-align: left;
  height: 100%;
  width: 30%;
  border: solid 5px;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  color: white;
}
body footer .listcontainer .list2 {
  text-align: left;
  height: 100%;
  width: 30%;
  color: white;
}
body footer .listcontainer .list3 {
  text-align: left;
  height: 100%;
  width: 30%;
  border: solid 5px;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  color: white;
}
body footer .listcontainer ul {
  margin-top: 15%;
  list-style-type: none;
}/*# sourceMappingURL=app.css.map */